$table-header: #1976D2;
$table-header-border: #1565C0;
$table-border: #000;
.report {

  border: solid 1px $table-border;
  background-color: #ccc;
  color: #000;
  margin: 20px;
  padding: 20px;

  transition: 0.5s;
  text-align: left;
  font-size: 10px;
  line-height: 11px;
}

td {
  background: $table-header;
}

td {
  border: solid 1px $table-border;
}
.dates {
  color: #888;
  font-size:9px;
  padding-bottom:13px;
  text-align:right;
  margin-left:10px;
}
.comments {
   color: #000;
   font-size:9px;
  padding-bottom:2px;
  margin-bottom:2px;
   border-bottom: 1px dashed #EF7D15;
 }