.home {
	padding: 16px;
	min-height: 100%;
	width: 100%;
    color: white;
    background: black !important;
}

.cardHeader {
  padding: 8px;
  background: black;
}

.mini {
   .header {
     background: black;
   }
 }

.cardBody {
  padding: 8px;
}

.currentUser {
    padding:0;
}
.smaller {
  font:  bold 28px Roboto, serif;
  text-align: center;
}

.beta {
  font:  bold 28px Roboto, serif;
  text-align: center;
}

.betaRot {
  font:  bold 32px Roboto, serif;
  text-align: center;
  transform: rotate(-10deg);
  position: relative;
  top: -22px;
  text-shadow: 3px 2px 2px red, 0 0 5em green, 0 0 4em blue;

}