.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
	background:#000;
}

.cardHeader {
  padding: 16px;
  	background:#000;

}

.cardBody {
  padding: 16px;
  background:#000;
  font:  bold 14px Avenir, serif;

}

header {
    display:none !important;
}