.home {
	min-height: 100%;
	min-width: 100%;
	background:#000;
}

.cardHeader {
  padding: 8px;
  	background:#000;

}

.cardBody {
  padding: 8px;
  background:#000;

}
.page {
	padding: 0px;
	min-height: 100%;
	width: 100%;
	background:#000;
}
.hint {
  color:#222;;
min-height: 100%;
min-width: 100%;
  left:50vw;
  padding:40% 40%;
}
.cloak {
    color:#666;
    background:#222;
}