.snooze {
   padding: 20px;
   min-height: 100%;
   width: 100%;
 }

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}

.newpage {
  padding-top: 10px;
}
.mylabel {
  font:  bold 16px 'Roboto', sans-serif;
}

.header {
  padding:3px;
}
button {
  margin:0px 2px;
  width:90px;
}
.bgroup {
  margin:5px auto;
  width:100%;
  text-align:center;
}