.snooze {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}

.newpage {
  padding-top: 26px;
}
.mylabel {
  font:  bold 16px Avenir, serif;
}
.header {
    padding:3px;
}
button {
    margin:0px 5px;;
}