$icon_size: 46px;

.newpage {
  height: 20px;
  padding: 0 0;
  width:100%;
}

.mdc-theme--dark .mdc-card {
  color: white !important;;
}

.title {
  color: white;
  font: Normal 16px/18px 'Orbitron', sans-serif;
  left: 1px;
  position: relative;
  text-shadow: 1px 1px 1px #888, 1px 1px 1px #333, 1px 1px 5px black;
  top: -20px;
  z-index: 199999;
  text-align:left;

}

.loader {
  height: 36px;
  top: 6px;
  z-index: -1;
  padding-top:6px;

}

.bar {
  background: #073763;
  display:block;
  height: 36px;
  margin: 4px 0px;
  position: relative;
  top: 0px;
  z-index: 2;
  width:100%;

}

.coin {
  font: Normal 16px/18px 'Orbitron', sans-serif;
  background-image: url("../../assets/img/nomedal.png");
  background-repeat: no-repeat;
  background-size: $icon_size $icon_size;
  display: inline-block;
  height: $icon_size;
  opacity: 1;
  padding-top: 3px;
  position: absolute;
  text-align: center;
  top: -3px;
  vertical-align: top;
  width: $icon_size;
  z-index: 199999;
  right:0;
}

.brass {
  background-image: url("../../assets/img/brassmedal.png");

}
.silver {
  background-image: url("../../assets/img/silvermedal.png");
}

.gold {
  background-image: url("../../assets/img/goldmedal.png");
}

.num {
  color: white;
  font: Bold 16px/12px 'Roboto', sans-serif;
  text-shadow: 1px 1px 1px #888, 1px 1px 1px #333, 1px 1px 5px black;

  padding-top: 15px;

}