

.home {
	padding: 16px;
	min-height: 100%;
	width: 100%;
    color: white;
    background: black !important;
}

.cardHeader {
  padding: 8px;
  background: black;
}

.mini {
     background: black;
 }

.cardBody {
  padding: 8px;
}

.header {
    background:black !important;
}
.main {
    margin:5px;
}

.smaller {
  font:  normal 16px Roboto, serif;
  text-align: center;
  margin: 10px 10px;
}

.smallerBold {
  font:  bolder 20px Roboto, serif;
  text-align: center;
  margin: 0px 32px;
}
.shape {
  font:  bolder 22px Roboto, serif;
  text-align: center;
  margin: 3px 32px 0;
}

.beta {
    margin: 0;
    font:  bold 38px Roboto, serif;
    text-align: center;
}

.cent {
    margin:20px auto;
    text-align: center;
}

button  {
    color: white !important;

}
.green {
    background:#519428 !important;
    width: 120px;;
}
@media only screen and (max-width: 360px) {
    .beta {
        font:  bold 32px Roboto, serif;
    }
    .smaller {
      font:  normal 14px Roboto, serif;
      margin: 5px 5px;
    }
    .shape {
      font:  bolder 20px Roboto, serif;
        margin: 2px 24px 0;
    }
    .cent {
        margin:10px auto;
        text-align: center;
    }

}