.home {
	padding: 16px;
	min-height: 100%;
	width: 100%;
    height: 100vh;
}

.cardHeader {
  padding: 8px;
}

.cardBody {
  padding: 8px;
}

.currentUser {
    padding:0;
}
.ldr_grn {
    background: #0F0;
}
.ldr_yellow {
    background: #FF0;
}
.ldr_red {
    background: #F00;
}