.inner {
  margin:15px;
  padding:5px;
}
.rank {
  color: #ef7d16;
  font: normal 25px Comfortaa, sans-serif;
  padding:10px;
}
.rankTitle {
  font: bold 25px Comfortaa, sans-serif;
  text-align:center;
}
.snoozeIcon {
  background-image: url("../../assets/img/snooze.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px 0px 30px 0px;
  padding-top: 0px;
  height:70px;
  width:70px;
  margin-left:25px;
  display:inline-block;
  float:left;

}
.label {
  font: normal 18px Comfortaa, sans-serif;
  text-align: left;
  margin: 5px;
  clear:both;

}
.headTxt {
  font: bold 20px Comfortaa, sans-serif;
  text-align: left;
  margin: 7px;
  top: 5px;
  left: 5px;
  position:relative;

}
.snoozeScore {
  font: normal 19px Comfortaa, sans-serif;
  text-align: left;
  color: #ef7d16;
  display:block;
}
.snoozeSec {
  display:block;
  clear:both;
  margin:5px;
}
.snoozeSec button {
  top:20px;
}