service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write;
    }
  }
}
service cloud.firestore {
  match /databases/{database}/users {
    match /{users=**} {
      allow read, write;
    }
  }
}
