.cardHeader {
  padding: 10px;
  background: black;
  color:white;
  height:100px;

}

.cardBody {
  padding: 20px;
  background: black;
  color:white;
  height:100%;
  min-height:200px;
}

.home {
  border:10px solid #ef7d16;
}
