.home {
  background:#345;
}
.smaller {
  font:  16px Roboto, sans-serif;
  text-align: center;
  margin: 5px 40px;
  background:#345;

}

.beta {
  font:  bold 20px Roboto, sans-serif;
  text-align: center;
}

.cent {
  margin:20px auto;
  text-align: center;
}
.green {
  background: #519428 !important;
  width: 120px;
}
