
.newpage {
  height: 20px;
  padding: 0 0;
  width:100%;
}

.bar {
  display:block;
  height: 36px;
  margin: 12px 0;
  position: relative;
  top: 0px;
  z-index: 2;
  width:100%;

}

.vote {
  background: #FF008C;

  border-radius: 20px;
  display: inline-block;
  height: 40px;
  opacity: 1;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  margin: 0 10px;
  color:white !important;
  font-weight: bold;
  padding-top:10px;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

  &.YES {
    opacity:.6;
  }
  &.NO {
    background: #FF008C;

  }
}

.num {
  color: white;
  font: Bold 23px 'Comfortaa', sans-serif;
}
.tiny {
  color: #444;
  font: Bold 10px/14px 'Comfortaa', sans-serif;
}

