
.logo {
    background-image: url("../../assets/img/metrologo.png");
    background-repeat: no-repeat;
    background-size: 143px 17px;
    background-position: center; /* Center the image */
    height:17px;
    width: 100%;
    left: -24px;
    position:relative;
}