
.dark_blue{
    background:#073763;
}
.light_blue {
    background: #007CE2;
}
.pink {
    background: #FF008C;
}
.yellow {
    background: #FFB600;
}
.orange {
    background: #EF7D16;
}
.white {
    background: #F7F7F7;
}
.black {
    background: #2A2A2A;

}