@import url('//fonts.googleapis.com/css?family=Comfortaa');
* {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa', sans-serif;
	font-weight: 400;
	color: #FFF;
	min-height: 640px;
    background: rgb(2,0,36);
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(102,51,153,1) 93%);
    background: -moz-linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(102,51,153,1) 93%);
    background: -webkit-linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(102,51,153,1) 93%);
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(102,51,153,1) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#663399",GradientType=1);

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


#app {
	min-height: 640px;
    height:100vh;
    max-width: 500px;
    margin: 0 auto;
}
#notification-wrapper {
    font: Bold 17px 'Comfortaa', sans-serif;

}
header {
    max-width: 500px;

}
.scoreBox {
  height:24px;
  width: 38px;
  font: Bold 17px 'Comfortaa', sans-serif;
    text-align:center;
    display:inline-block;
  padding:3px;
  margin:3px;
  background:white;
  border:1px solid black;
  border-radius: 5px;
}
#app .page {
  padding-top: 56px;
}
.mdc-top-app-bar {
    background: #45196F !important;
    width:100%;

}
.mdc-top-app-bar__title{
    width:100%;

}
.mdc-card .grid {
	color:black;
	background: #74FBFD;
	border:1px solid #777;

}
.dim {
    opacity: .4;
}
.home {
    padding: 10px;
    min-height: 100%;
    width: 100%;
    color: white;
    border:1px solid #777;
}

.logo {
    margin-top:50px;
    width:100%;
    text-align:center;
}
.urup {
    background-image: url("../assets/img/logo.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
    display: inline-block;
    height: 70px;
    width: 70px;
}
.smaller {
    font:  bold 20px/24px Comfortaa, sans-serif;
    text-align: center;
    margin: 5px 5px;
}
.left {
    text-align:left;
}
.beta {
    background-image: url("../assets/img/beta.png");
    background-repeat: no-repeat;
    background-size: 63px 43px;
    display: inline-block;
    height: 63px;
    width:63px;
    animation: roto 5s infinite

}
@keyframes roto
{
    0%, 100% {
        transform: rotate(-10deg);

    }
    50% {
        transform: rotate(5deg);
    }
}

.cent {
    margin:20px auto;
    text-align: center;
}


@keyframes shadow-pulse
{
    0% {
        transform: scale(0.75);

    }
    100% {
        transform: scale(1.3);
    }

}

.btn1
{
    animation: shadow-pulse 1s infinite;
    animation-delay:1s;

}

.btn2
{
    animation: shadow-pulse 1s infinite;
    animation-delay:1.3s;

}
.btn3
{
    animation: shadow-pulse 1s infinite;
    animation-delay:1.5s;

}
.btn4
{
    animation: shadow-pulse 1s infinite;
    animation-delay:1.7s;

}
.btn5
{
    animation: shadow-pulse 1s infinite;
    animation-delay:1.9s;

}
@media only screen and (max-width: 360px) {
    .beta {
        font:  bold 32px Comfortaa, sans-serif;
    }
    .smaller {
        font:  bold 20px/24px Comfortaa, sans-serif;
        margin: 5px 5px;
    }
    .shape {
        font:  bolder 20px Comfortaa, sans-serif;
        margin: 2px 24px 0;
    }
    .cent {
        margin:10px auto;
        text-align: center;
    }

}