.snooze {
	padding: 10px;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 0px;
}

.cardBody {
  padding: 0px;
}

.newpage {
  padding-top: 5px;
}
.mylabel {
  font:  Bold 16px 'Roboto', sans-serif;
}
.ranks {
  font:  Bold 12px 'Roboto', sans-serif;
}
.header {
    padding:3px;
}
.game {
  text-align:left;
  display:inline-block;
  width:82%;
  font:  Bold 14px 'Orbitron', sans-serif;
  height:28px;
  margin-left:10px;

}
.player {
  text-align:left;
  display:inline-block;
  width:32%;
  height:28px;
  font:  Bold 11px 'Orbitron', sans-serif;
  line-height:18pt;
  padding-top: 5px;
  position:relative;
  top:0px;
  left:3px;
  vertical-align: top;
  .email {
    font:  10px 'Roboto', sans-serif;
    color:#eee;
  }

}
.tplay {
  width:50%;
  display:inline-block;
}
.grid {
  border:1px solid #9e9e9e;
  background:#ccccff;
  margin:5px;
  padding:5px;

}

.ach {
  width: 30px;
  height:30px;
  text-align: center;
  display: inline-block;
  font:  Bold 15px 'Orbitron', sans-serif;
  text-shadow: 2px 2px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  line-height:18pt;
  padding:2px;
  margin:3px 5px;
  border:1px solid #333;
  border-radius:5px;
  background-image:  url("../../assets/img/diamond.jpg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-color:  #363;
  color: white;
  vertical-align:top;

  &.blue {
    background-color: #66c;
  }
  &.red {
    background-color: #c66;
  }
  &.green {
    background-color:  #6a6;
  }
  &.silver {
    background-color: #888;
  }
  &.gold {
    background-color: #cc3;
  }
  &.magic {
    background-color: #c0c;
  }
}

.mdc-theme--dark .mdc-card {
  color: black !important;;

}
