$icon_size: 40px;

.footer {
  width: inherit;
  height: 36px;
  z-index: 6;
}

.playsc {
  background: white;
  font: bold 23px/27px Comfortaa, sans-serif;
  color: #000;
  width: 100%;
  height: 32px;
  position: relative;
  margin:0 auto;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-name: beat;
  padding-top:3px;
}

  @keyframes beat {
    0%,100% {
      background-color: #FCC;
      letter-spacing: 5px;
    }
    50% {
      background-color: #CCF;
      letter-spacing: 0px;

    }
  }

.lefty {
  width: 90px;
  font: bold 20px/23px Comfortaa, sans-serif;
  margin: 2px auto;
}

.buts {
  height:32px;
  position:relative;
  top:0;
  vertical-align:middle;
  display: inline-flex;
}
.bots {
  width: 100%;
  margin: 0;
  height:36px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.bots button {
  border-radius: 30px;
  height: 30px;
  color: white !important;
  font: bold 12px Comfortaa, sans-serif;
  text-transform: lowercase;
  margin: 0px 25px;
  padding:0px 15px;
  position:relative;
  vertical-align:top;
}
.rateIt {
  text-align: center;
  position: relative;
  margin: 5px auto;
  font: bold 15px/15px Comfortaa, sans-serif;

}

.wides {
  width: 120px;
}

.orangeButton {
  background: #EF7D16 !important;

}


.tiny {
  color: #777;
  font: Bold 10px 'Orbitron', sans-serif;
  padding-top: 0px;
  width: 100%;
  text-align: center;
}

@media (max-width: 479px) {

  .mdc-layout-grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 4px !important;;
    padding: var(--mdc-layout-grid-margin-phone, 4px) !important;
  }

  .lefty {
    margin-top: 10px;
    font: bold 15px/14px Comfortaa, sans-serif;
  }

  .bots button {
    color: white !important;
    font: bold 10px Comfortaa, sans-serif !important;
    margin-left: 3px;
  }

  .playsc {
    font: bold 18px/25px Comfortaa, sans-serif;
  }

}

@media (max-width: 320px) {
  #app {
    width: 320px;
  }

  .lefty {
    margin-top: 10px;
    font: bold 13px Comfortaa, sans-serif;
  }

  .bots button {
    color: white !important;
    font: bold 12px Comfortaa, sans-serif !important;
    margin-left: 2px;
  }
  .playsc {
    font: bold 18px/25px Comfortaa, sans-serif;
  }
}