.snooze {
	padding: 15px;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 13px;
}

.cardBody {
  padding: 13px;
}

.newpage {
  padding-top: 26px;
}
.mylabel {
  font:  bold 16px Avenir, serif;
}
.header {
    padding:3px;
}
.achievement {
    background:#F33;
    display:inline-block;
    padding:6px;
    border:1px solid black;
    border-radius: 3px;
    margin:2px;
    min-width:45px;
    text-align: center;
}
.achievement.green {
    background:#3F3;
    display:inline-block;
    padding:16px;
    border:2px solid black;
}