.snooze {
	padding: 15px;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 13px;
}

.cardBody {
  padding: 13px;
  background:#EEF;
}

.newpage {
  padding-top: 11px;
}
.mylabel {
  font:  bold 16px Avenir, serif;
}
.header {
    padding:3px;
}
.achievement {
    display:inline-block;
    padding:6px;
    border:1px solid black;
    border-radius: 3px;
    margin:2px;
    min-width:45px;
    text-align: center;
    &.red {
        background:#F33;
    }
    &.green {
    background:#3F3;
    }
    &.blue {
    background:#33F;
    color:white;
    }
    &.silver {
    background:#ccc;
    color:black;
    }
    &.gold {
        background:#FC3;
        color:black;
    }
    &.magic {
        background:#3EF;
        color:black;
    }

}

