.snooze {
	padding: 10px;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 10px;
}

.cardBody {
  padding: 10px;
  background:#EEF;
}

.newpage {
  padding-top: 10px;
}
.mylabel {
  font:  bold 16px Roboto, serif;
}
.header {
    padding:3px;
}
.achievement {
    display:inline-block;
    padding:6px;
    border:2px solid #888;
    border-radius: 4px;
    margin:3px;
    min-width:45px;
    text-align: center;
    &.red {
        background:#F33;
    }
    &.green {
    background:#3F3;
    }
    &.blue {
    background:#33F;
    color:white;
    }
    &.silver {
    background:#ccc;
    color:black;
    }
    &.gold {
        background:#FC3;
        color:black;
    }
    &.magic {
        background:#3EF;
        color:black;
    }
}

.bgroup {
    margin:0 auto;
    width:100%;
    text-align:center;
}