
.home {
  padding: 20px;
  color:white;
  height:100%;
  min-height:200px;
  border:1px solid #666666;
  border-radius: 20px;
  margin:5px;
}
.prompt {
  text-align:left;
  padding:10px;
  font: bold 20px Geneva, sans-serif;
  color:#ef7d16;
  height:65px;

}
.offers {
  text-align:center;
  padding:10px;
  font: bold 17px Comfortaa, sans-serif;
  color:yellow;
}

.titles {
  text-align:center;
  padding:10px;
  font: 22px Comfortaa, sans-serif;

}
.image {
  padding: 10px;
  max-height:300px;
  max-width:300px;
  margin:auto;
}