html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #171717;
	color: #999;
	font: 100%/18px helvetica, arial, sans-serif;
}

a {
	color: #2fa1d6;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

#canvas-container {
	background: #000 url(https://jackrugile.com/lab/fireworks-v2/images/bg.jpg);
  height: 600px;
	left: 0;
	margin: 0 auto;
	position: relative;
	top: 0px;
  width: 600px;
	z-index: 2;
}

canvas {
	cursor: crosshair;
	display: block;
	position: absolute;
	z-index: 3;
	top:0;
}

canvas:active {
	cursor: crosshair;
}

#skyline {
	background: url(https://jackrugile.com/lab/fireworks-v2/images/skyline.png) repeat-x 50% 0;
	bottom: 0;
	height: 135px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}

#mountains1 {
	background: url(https://jackrugile.com/lab/fireworks-v2/images/mountains1.png) repeat-x 40% 0;
	bottom: 0;
	height: 200px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}

#mountains2 {
	background: url(https://jackrugile.com/lab/fireworks-v2/images/mountains2.png) repeat-x 30% 0;
	bottom: 0;
	height: 250px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}

#gui {
	right: 0;
	position: fixed;
	top: 0;
	z-index: 3;
}
#winner {
	margin: auto;
	position: relative;
	top: 30%;
	z-index: 10;
    font:  bold 85px/80px 'Poppins', sans-serif;	color:#FF4433;
	color:#3366FF;
	text-align: center;

}
a:link#clicker,  a:visited#clicker {
	margin: auto;
	position: relative;
	top: 40%;
	z-index: 10;
    font: italic bold 45px/50px Georgia, serif;	color:#FF4433;
	text-align: center;
	display:block;

}
.throbber {
    -webkit-animation: throbber 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
@-webkit-keyframes throbber {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.2;
    }
}
