$icon_size: 40px;

.footer {
	padding: 4px 0px !important;
	margin-top:0px;
	width: 100%;
	height:78px;
	position:absolute;
	bottom:0;
	max-width: 500px;
	background:black;
}
.playsc {
	background:white;
	font:  bold 20px/24px Comfortaa, sans-serif;
	color:#000;
}
.lefty {
	text-align:left;
	position:relative;
	width: 100px;
	left:10px;
	top:-8px;
	font:  bold 20px/24px Comfortaa, sans-serif;

}

.bots {
	display:inline-block;
	position: relative;
	width:100%;
	text-align:left;
}
.buts {
	display:inline-block;
	margin:8px 30px 0px 30px ;
}
.vote {
	background: #66aa66;

	border-radius: $icon_size/2;
	display: inline-block;
	height: $icon_size;
	opacity: 1;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: $icon_size;
	margin: 0 8px;
	color:white !important;
	font-weight: bold;
	padding-top:10px;
	&.YES {
		background: #aa6666;
	}
	&.NO {
		background: #66aa66;

	}
}

.num {
	color: white;
	font: Bold 16px/14px 'Orbitron', sans-serif;
	padding-top: 15px;
}
.tiny {
	color: #777;
	font: Bold 10px 'Orbitron', sans-serif;
	padding-top: 0px;
}
@media (max-width: 479px) {
	.mdc-layout-grid {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 4px !important;;
		padding: var(--mdc-layout-grid-margin-phone, 4px) !important;
	}
}