.snooze {
	padding: 10px;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 10px;
}

.cardBody {
  padding: 10px;
  background:#EEF;
}

.newpage {
  padding-top: 10px;
}
.mylabel {
  font:  Bold 16px 'Roboto', sans-serif;
}
.ranks {
  font:  Bold 12px 'Roboto', sans-serif;
}
.header {
    padding:3px;
}
.person {
    width:100px;
    text-align:left;
    display:inline-block;

}
.score {
    width:150px;
    text-align:left;
    display:inline-block;
    padding-left:20px;
}
.gamen {
  width:50%;
  font:  Bold 16px 'Roboto', sans-serif;
  display:inline-block;
  padding:1px 5px;
}
.tplay {
  width:50%;
  display:inline-block;
}
.grid {
  border:1px solid #9e9e9e;
  background:#ccccff;
  margin:10px;

}